<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfZzGf-h_1fzsDs6purqU6jIrE3dMBH0E</string>
	<key>GCM_SENDER_ID</key>
	<string>597198954439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>achen.flex-workout-app</string>
	<key>PROJECT_ID</key>
	<string>flex-workout-1a2aa</string>
	<key>STORAGE_BUCKET</key>
	<string>flex-workout-1a2aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597198954439:ios:b2c007a4ae4bb46d15c3e2</string>
</dict>
</plist>